// ======================================
//  Image Styles
// ======================================

@import "colors";

.imagesTable {
  height: 140px;
  width: 100px;
  float: left;
  margin-right: 10px;
  margin-top: 6px;
}

