@import "colors";

.navbar{
  background-color: $bc_blue;
  padding-bottom: 10px;
  margin-bottom: 0 ;
}

.headerlogo{
  color: $bc_yellow;
  font-size: 22px;
  font-family: 'Muli', sans-serif;
  &:hover{
    cursor: pointer;
    color: $bc_yellow;
  }
}

.link {
  color: white;
  font-size: 18px;
  &:hover{
    cursor: pointer;
    color: $bc_yellow;
  }
}