@import 'colors';
@import "navbar";
@import "buttons";
@import "slides";
@import "footer";

body{
  font-family: 'Muli', sans-serif;
  font-size: 12pt;
  margin:0;
  padding: 0;
}

h1 {
  font-size: 2.0em;
  font-weight: bold ;
  color:$bc_blue;
  text-align: center;
  margin-top: 50px;
}

h2 {
  text-align: center;
  color: $bc_yellow;
}

.intro {
  text-align: center;
}

table {
  tr {
    &:hover{
      cursor: pointer;
      background: $bc_blue;
      color: $bc_yellow;
    }
  }
}

.book-listing{
  margin-top: 50px;
  width: 1000px;
  //border-spacing: 0;
}
.book-listing th{
  text-align: left;
  border-bottom: solid 1px #555555;
}

.book-listing th, td{
  padding: 10px;
}

#createBookForm {
  input, textarea{
    &:required:invalid {
      border-right: solid 2px #cd5c5c;
      border-left: solid 2px #cd5c5c;
    }
    &:required:valid {
      border-bottom: solid 2px #32cd32;
    }
    &:optional{
      border-right: solid 2px $bc_blue;
    }
  }
}

.error-message{
  font-size: 0.8rem;
  color: red;
}

button {
  font-size: 1.1em;
}

.form-row{
  margin-bottom: 10px;
}

.form-row label{
  font-weight: bold;
  display: inline-block;
  width: 150px;
}

.form-description{
  margin-top: 50px;
}

.form-description label{
  display:block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-description textarea{
  width: 600px;
  height: 200px;
}

.form-submit{
  margin-top: 20px;
}
.form-submit input{
  font-size: 1.0em;
  -webkit-appearance: none;
}

.description-wrapper {
  textarea {
    height: 400px;
  }
  a {
    color:green;
  }
}
