// ======================================
//  Button Styles
// ======================================

.btn .btn-default {
  background-color: #dddddd;
  border: 1px solid #cccccc;

  &.hover {
    background-color: #cccccc;
  }
}

.alert {
  margin-top: 70px;
}