// ======================================
//  Link Styles
// ======================================

.fa-linkedin:before{
  font-size: 30pt;
  color: dodgerblue;
}

.fa-facebook-square{
  font-size: 30pt;
  color: royalblue;
}

