// ======================================
//  Link Styles
// ======================================

.fa-linkedin:before{
  font-size: 30pt;
  color: dodgerblue;
}

.fa-facebook-square{
  font-size: 30pt;
  color: royalblue;
}

.linkDetail {
  color: $bc_blue;
}

.linkCategory {
  color: $bc_yellow;
}