// ======================================
//  Table Styles
// ======================================

@import "colors";

table {
  .tablerow {
    &:hover{
      cursor: pointer;
      background: $bc_blue;
      color: $bc_yellow;
    }
  }
}

.book-listing{
  margin-top: 50px;
  width: 1000px;
  th{
    text-align: left;
    border-bottom: solid 1px #555555;
  }
  th, td{
    padding: 10px;
  }
}
//.book-listing th{
//  text-align: left;
//  border-bottom: solid 1px #555555;
//}
//
//.book-listing th, td{
//  padding: 10px;
//}